@using Orchard.Core.Contents
@using OShop.Models
@{
    CustomerPart customer = Model.ContentPart;
    Layout.Title = T("Customer account");
}

<div>
    @customer.FirstName @customer.LastName
    @if (Authorizer.Authorize(Permissions.EditContent, customer)) {
        @Html.ItemEditLink(T("Edit").Text, customer.ContentItem)
    }
</div>