@using Orchard.Utility.Extensions
@using OShop.Models

@{
    CustomerAddressPart address = Model.ContentPart;
    String formatedAddress = Model.FormatedAddress;
}

<p>
    @Html.Raw(formatedAddress.ReplaceNewLinesWith("<br />"))
</p>