
<fieldset class="admin-customer-orders">
    <legend>@T("Orders")</legend>

    <div class="contentItems bulk-items">
        @Display(Model.ContentItems)
    </div>

    @Display(Model.Pager)
</fieldset>