@using OShop.Models
@using OShop.Extensions
@{
    Style.Require("OShopAdmin");
    OrderPart part = Model.ContentPart;
}

<span class="order">
    @T("Order status") : @(Model.Status)&nbsp;&#124;&nbsp;
    @T("Order total") : @String.Format(WorkContext.NumberFormat(), "{0:C}", part.OrderTotal)
</span>