@using OShop.Models

@{
    OrderShippingInfos shippingInfos = ((OrderShippingPart)Model.ContentPart).ShippingInfos;
}

@if (shippingInfos != null) {
    <div class="order-shipping">
        <h3>@T("Shipping :")</h3>
        @shippingInfos.Designation
        @if (!String.IsNullOrWhiteSpace(shippingInfos.Description)) {
            <span class="description">@shippingInfos.Description</span>
        }
    </div>
}