@using OShop.Extensions
<tr>
    <td colspan="4" class="sub-total">
        @Model.Label
    </td>
    <td class="total">
        @String.Format(WorkContext.NumberFormat(), "{0:C}", Model.SubTotal)
    </td>
</tr>