@using Orchard.Utility.Extensions
@using OShop.Models

@{
    OrderPart order = Model.ContentPart;
    String Address = Model.Address;
}

<div class="order-address order-billingaddress">
    <h3>@T("Billing Address :")</h3>
    @Html.Raw(Address.ReplaceNewLinesWith("<br />"))
</div>