@using OShop.Models

@{
    OrderShippingPart contentPart = Model.ContentPart;
}

@if (contentPart.ShippingDetails.Any()) {
    <div class="order-shipping">
        <h3>@T("Shipping :")</h3>
        @foreach (var detail in contentPart.ShippingDetails) {
            <div>
                @detail.Designation
                @if (!String.IsNullOrWhiteSpace(detail.Description)) {
                    <span class="description">@detail.Description</span>
                }
                <span class="price">@String.Format(Model.NumberFormat, "{0:C}", detail.Total)</span>
            </div>
        }
    </div>
}