@using OShop.Models

@{
    Style.Require("OShopAdmin");
    OrderPart part = Model.ContentPart;
}

<span class="order">
    @T("Order status") : @T(part.OrderStatus.ToString())&nbsp;&#124;&nbsp;
    @T("Order total") : @String.Format(Model.NumberFormat, "{0:C}", part.OrderTotal)
</span>