@using OShop.Models

@{
    IList<OrderLog> logs = ((OrderPart)Model.ContentPart).Logs;
}

<div class="order-logs">
    <h3>@T("Order logs :")</h3>
    <ul class="order-history">
        @foreach (var log in logs) {
            <li>
                <span class="date">@log.LogDate.ToString("G", new CultureInfo(WorkContext.CurrentCulture))</span>
                <span class="description">@log.Description</span>
            </li>
        }
    </ul>
</div>
