@using OShop.Models
@{
    IShopItem item = Model.ContentPart;
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("Add", "ShoppingCart", new { area = "OShop", id = item.Id, itemType = item.ItemType, returnUrl = Context.Request.RawUrl }), FormMethod.Post)) {
    <div class="addtocart">
        <input name="quantity" value="1" type="number" min="0" />
        <button type="submit">@T("Add to cart")</button>
    </div>
}