@using OShop.Helpers;
@using OShop.Models;
@{
    var cart = (ShoppingCart)Model.Cart;
}

<div>
    <span>@T.Plural("1 item", "{0} items", cart.Items.ItemsCount()) : @String.Format(Model.NumberFormat, "{0:C}", (Model.VatEnabled ? cart.VatIncludedCartTotal() : cart.CartTotal()))</span><br/>
    @Html.ActionLink(T("My cart").Text, "Index", "ShoppingCart", new { area = "OShop" }, new { })
</div>