fieldset.inline > div {
  float: left;
  margin-right: 1.5em;
}
table.items td {
  white-space: nowrap;
}
table.items td .icon {
  vertical-align: text-bottom;
  margin-right: .2em;
}
table.items .bulk-lfloor {
  font-size: .8em;
  margin: 0 .6em;
  vertical-align: top;
}
fieldset.admin-customer-addresses,
fieldset.admin-customer-orders {
  border: 1px solid #CCC;
  padding: 0px 10px 10px;
  margin-bottom: 5px;
}
fieldset.admin-customer-addresses > legend,
fieldset.admin-customer-orders > legend {
  padding: 5px;
}
fieldset.admin-customer-addresses {
  float: left;
}
.contentItems .vat,
.contentItems .price,
.contentItems .order {
  float: right;
}
